.app-wrapper {
    display: flex;
    flex-direction: column;
    height: 100%;
    background-image: url("https://images.unsplash.com/photo-1550989460-0adf9ea622e2?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8N3x8bWFya2V0fGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=1500&q=60");
    // background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
  .wrapper-filter {
    height: 100%;
    width: 100%;
    background-color: rgba(rgb(240, 239, 247), 0.3);
  }
  .top-section {
    //  background-color: bisque;
    display: flex;
    align-content: center;
    justify-content: center;
    height: 19vh;
  }
  .top-container {
    display: flex;
    height: 100%;
    width: 100%;
    justify-content: center;
  }
  .content-section {
    // background-color: rgba(rgb(76, 29, 247),0.3);
    height: 70vh;
    width: 100%;
    flex-grow: 1;
    display: flex;
    justify-content: center;
    justify-items: center;
    padding: 0px 0 0 0;
  }
  .content-container {
    // background-color: rgba(rgb(29, 247, 192), 0.3);
    display: flex;
    width: 80%;
    height: 80%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    // gap: 10px;
  }
  .content-boxa {
    background-color: rgba(rgb(248, 249, 252), 0.7);
    display: flex;
    width: 100%;
    height: 50rem;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 0.2rem;
  }
  .boxa-title30 {
    // background-color: rgba(rgb(48, 94, 231), 0.7);
    display: flex;
    width: 100%;
    height: 2.5rem;
    justify-content: center;
    align-items: center;
    justify-items: center;
  }
  .boxa-inlet-item30 {
    display: flex;
    width: 60%;
    height: 3rem;
    justify-content: center;
    align-items: center;
  }
  .boxa-inlet3 {
    background-color: rgba(rgb(238, 230, 231), 0.3);
    display: flex;
    width: 150%;
    height: 2rem;
    text-align: center;
    border-radius: 1rem;
    border-width: 2px;
    border-color: rgba(rgb(101, 91, 236), 0.8);
    color: black;
    font-size: 13px;
  }
  .boxa-title31 {
    // background-color: rgba(rgb(128, 233, 181), 0.7);
    display: flex;
    width: 100%;
    height: 2.0rem;
    justify-content: center;
    align-items: center;
  }
  .boxa-box31 {
    display: flex;
    width: 60%;
    height: 1.5rem;
    justify-content: center;
    align-items: center;
  }
  .boxa-box31-text {
    font-size: 13px;
    text-decoration: none;
    color: rgba(rgb(23, 23, 24), 0.9);
    font-family: serif;
    font-size: 14px;
    font-weight: bold;
  }
  .boxa-title32 {
    // background-color: rgba(rgb(233, 222, 128), 0.7);
    display: flex;
    width: 60%;
    height: 2.2rem;
    justify-content: center;
    align-items: center;
  }
  .boxa-item32 {
    background-color: rgba(rgb(168, 8, 8), 0.8);
    display: flex;
    width: 100%;
    height: 2.2rem;
    justify-content: center;
    align-items: center;
    border-radius: 1rem;
  }
  .content-click3 {
    color: rgba(rgb(241, 243, 241), 1);
    font-size: 15px;
    font-weight: bold;
    cursor: pointer;
  }
  .boxa-title33 {
    // background-color: rgba(rgb(236, 141, 62), 0.7);
    display: flex;
    width: 100%;
    height: 1.5rem;
    justify-content: center;
    align-items: center;
  }
  .boxa-text33 {
    font-size: 12px;
    text-decoration: none;
    color: rgba(rgb(43, 42, 41), 0.7);
    font-family: sans-serif;
  }
  .boxa-text331 {
    font-size: 14px;
    text-decoration: none;
    color: rgba(rgb(26, 135, 238), 0.9);
    cursor: pointer;
  }
  .boxa-title34 {
    // background-color: rgba(rgb(236, 141, 62), 0.7);
    display: flex;
    width: 50%;
    height: 9rem;
    justify-content: center;
    align-items: center;
  }
  .boxa-text34 {
    background-color: rgba(rgb(57, 10, 185), 0.6);
    display: flex;
    width: 7.5rem;
    height: 7.5rem;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
  }
  .boxa-text34-img {
    display: flex;
    height: 80%;
    width: 80%;
    border-radius: 50%;
    object-fit: cover;
  }
  .boxa-title35 {
    background-color: rgba(rgb(182, 11, 130), 0.7);
    display: flex;
    width: 40%;
    height: 2rem;
    justify-content: center;
    align-items: center;
  }
  .boxa-text35 {
    color: rgba(rgb(250, 249, 249), 0.9);
    font-family: serif;
    font-size: 16px;
  }
  .boxa-title36 {
    // background-color: rgba(rgb(28, 240, 141), 0.3);
    display: flex;
    width: 60%;
    height: 3.0rem;
    justify-content: right;
    align-items: center;
  }
  .boxa-text36 {
    // background-color: rgba(rgb(92, 28, 240), 0.3);
    display: flex;
    width: 30%;
    height: 1.5rem;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    color: rgba(rgb(7, 7, 7), 0.7);
    font-weight: bold;
    font-size: 14px;
  }
  .footer-section {
    display: flex;
    // background-color: rgba(rgb(231, 231, 221),0.3);
    justify-content: center;
    height: 12vh;
    width: 100%;
    align-items: center;
  }
  .footer-container {
    display: flex;
    background-color: rgba(rgb(233, 239, 240), 0.5);
    justify-content: center;
    height: 10vh;
    width: 80%;
    flex-direction: column;
    align-items: center;
    border-radius: 1.75rem;
  }
  .footer-box1 {
    // background-color: rgba(rgb(233, 239, 240),0.5);
    display: flex;
    height: 3vh;
    width: 100%;
    justify-content: center;
    align-items: center;
  }
  .box1-text {
    font-size: 14px;
    color: rgba(rgb(25, 25, 26), 0.8);
    font-family: sans-serif;
  }
  .footer-box2 {
    // background-color: rgba(rgb(52, 187, 211),0.5);
    display: flex;
    height: 6vh;
    width: 100%;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 7px;
  }
  .footer-box2-sub {
    // background-color: rgba(rgb(94, 52, 211),0.5);
    display: flex;
    height: 2rem;
    width: 2rem;
    align-items: center;
    justify-content: center;
  }
  .boxcard1-img1 {
    display: flex;
    object-fit: contain;
    width: 100%;
    height: 100%;
  }